<div class="container">

	<!-- search query input area,
		use angularJS form validation-->
	<form class="form-horizontal" name="queryForm" novalidate>
		<div class="control-group">
			<input type="search" name="query" results=1 data-ng-model="searchQuery" class="input-medium search-query" 
			placeholder="Specify Search Text. e.g. Flower valley" required/>

			<button type="submit" class="btn btn-primary" data-ng-click="search()"
			ng-disabled="queryForm.query.$dirty && queryForm.query.$invalid"> Search</button>
			<!--$dirty	The user has interacted with the field.
				$invalid The field content is invalid.-->
		</div>
	</form>

	<!---result display area-->
	<div data-ng-show="totalRecordsCount > 0">
            
	</div>
</div>
