<div class="container" class="sectionStyle">

	<!-- search query input area,
	use angularJS form validation-->
	<form name="queryForm" novalidate>	
		<div class="row">
			<div class="col-lg-6">
				<div class="input-group">     
				<input type="search" name="query" results=5 data-ng-model="searchQuery"
						placeholder="Specify Search Text. e.g. Flower valley" 
						class="form-control" required data-ng-change="searchQueryChange"/>
				 
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default" data-ng-click="search()"
						ng-disabled="queryForm.query.$dirty && queryForm.query.$invalid">Search</button>
						<!--$dirty	The user has interacted with the field.
							$invalid The field content is invalid.-->
					</span>
				</div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</form>


	<!---result display area, displayed only if result data is available -->
	<div data-ng-show="searchResultData.totalRecordsCount > 0" class="sectionStyle">
		<div class="row-fluid" class="sectionStyle"> 
			<div class="blockWithTopSpacing">
				<p class="text-muted">Showing {{searchResultData.totalRecordsCount}} images for {{searchResultData.query}}</p>
			</div>
			<div ng-repeat="item in searchResultData.searchResult" class="col-md-3 col-xs-2 imgContainer" id="row">
				<a href="{{item.reference}}" target="_blank">
					<img ng-src="{{item.source}}" class="imageClass" title="{{item.title}}"> 					
				</a>				
				<h2 ng-show="visible">{{item.source}}</h2>
			</div> 
		</div>		
	</div>
	
	<div data-ng-show="searchResultData.totalRecordsCount === 0" class="blockWithTopSpacing">
		<p class="text-muted">OOPS! No matching records found</p>
		<a href="{{searchResultData.linkForMoreResults}}" target="_blank">For possible matches, please click here</a>
	</div>	
</div>
