.imageClass{
	max-width:100%;
	height:200px;	
}

.imgContainer{
	height: 40%;
	width: auto;
	padding-top: 0.5cm;
}

.sectionStyle{
	height: 100%;
	width: 100%;
}

.blockWithTopSpacing{
	padding-top: 0.5cm;
}